src/main/mule/myfirstproject.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2f78f943-867d-4c5e-8675-cc86031e11a6" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="myfirstprojectFlow" doc:id="13717b2b-5266-4dd2-a329-340185405f0d" >
		<http:listener doc:name="Listener" doc:id="45ffc49d-8571-40c2-9535-0dd547197e14" config-ref="HTTP_Listener_config" path="/demo"/>
		<ee:transform doc:name="Transform Message" doc:id="75f0d711-bab4-4d34-88e0-a3c73726a7d2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Message":"Demo Project Working Fine OK!"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="c0987d8d-2202-4c06-a7c5-f6b2dfc533e7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload.Message ++ " Changes Done"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="58b2de67-c5b6-4c7d-9491-915f62882ee7" message="#[payload]"/>
	</flow>
</mule>
